<div class="widget">
	<h3>Risky ports</h3>
	<p *ngIf="ports.length > 0">6 out of {{ ports.length }} assets</p>
	<p *ngIf="ports.length === 0">No assets</p>

	<div *ngIf="ports.length > 0" class="threat-card">
		<div class="header" (click)="expandCard()">
			<span>{{ ports.length }} alerts</span>
		</div>
		<div class="content" *ngIf="isCardExpanded">
			<ul>
				<div>do something</div>
				<!-- <li *ngFor="let threat of ports">{{ threat.portNumber }}</li> -->
			</ul>
		</div>
	</div>
	<div *ngIf="ports.length === 0" class="no-threats-card">No Alert</div>

	<p>Last checked : 20 hours ago</p>
</div>
